@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
body{
	font-family: 'Roboto', sans-serif;
}
.desk-none{
	display: none;
}
.desk-block{
	display: block;
}
.logo{
	width: 50px;
	padding: 20px 0px;
}
.logo img{
	width: 100%;
}
.nav.pull-right {
    padding: 20px 0px;
    position: relative;
}
a{
	color: #333;
}
a:hover,
a:focus{
	text-decoration: none;
	color: #333
}
.nav-actice {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50px;
}
.nav ul li a {
    color: #fff;
    text-transform: uppercase;
    padding: 0px 10px;
}
.nav ul li a:hover{
	text-decoration: none;
}
.nav ul{
	margin-bottom: 0px;
}
.header-text{
	padding-top: 30px;
}
.whowe {
    color: #333;
    padding: 50px 0px;
    padding-bottom: 0px !important;
}
.header-text h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
    font-size: 75px;
}
.slogan {
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
}
.head-bod{
	width: 15%;
	margin: 0 auto;
	height: 2px;
}
.banner .book {
    width: 270px;
    margin: 0 auto;
}
.banner .tags {
    width: 150px;
    display: inline-block;
}
.banner .scale {
    width: 150px;
    display: inline-block;
    margin-left: 70px;
}
.handpaper {
    width: 100%;
    margin: 0 auto;
}
.banner .pencil {
    width: 30px;
    display: inline-block;
}
.banner .coffee {
    width: 100px;
    display: inline-block;
    margin-left: 50px;
}
.banner .glass {
    width: 150px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
.banner .sticky{
	width: 120px;
	display: inline-block;
}
.windows{
	display: table;
}
.windows img{
	width: 100%;
}
.windows .left {
	display: table-cell;
	position: relative;
	z-index: -1;
	right: -70px;
    /*width: 35%;*/
}
.windows .middle {
    display: table-cell;
    width: 40%;
    z-index: 9;
}
.windows .right {
    display: table-cell;
    /* width: 35%; */
    position: relative;
    left: -70px;
    z-index: -1;
}
.cli-stats{
	padding: 10px 10px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#02ccb4+36,2989d8+44,207cca+60,207cca+60,207cca+70,01addf+79 */
background: #02ccb4; /* Old browsers */
background: -moz-linear-gradient(left,  rgba(2, 204, 180, 0.84) 36%, rgba(41, 137, 216, 0.82) 44%, rgba(32, 124, 202, 0.47) 60%, rgba(32, 124, 202, 0.64) 60%, rgba(32, 124, 202, 0.74) 70%, rgba(1, 173, 223, 0.59) 79%),url('../images/multiimages.jpg') no-repeat; /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(2, 204, 180, 0.84) 36%,rgba(41, 137, 216, 0.82) 44%,rgba(32, 124, 202, 0.47) 60%,rgba(32, 124, 202, 0.64) 60%,rgba(32, 124, 202, 0.74) 70%,rgba(1, 173, 223, 0.59) 79%),url('../images/multiimages.jpg') no-repeat; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(2, 204, 180, 0.84) 36%,rgba(41, 137, 216, 0.82) 44%,rgba(32, 124, 202, 0.47) 60%,rgba(32, 124, 202, 0.64) 60%,rgba(32, 124, 202, 0.74) 70%,rgba(1, 173, 223, 0.59) 79%),url('../images/multiimages.jpg') no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02ccb4', endColorstr='#01addf',GradientType=1 ); /* IE6-9 */

}
.h-title{
    padding-left: 10px;
    text-transform: uppercase;
}
.banner .book img,
.banner .tags img,
.banner .scale img,
.banner .handpaper img,
.banner .pencil img,
.banner .coffee img,
.banner .glass img,
.banner .sticky img,
.windows .left img,
.windows .middle img,
.windows .right img{
	width: 100%;
}
.stat-main {
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 22px;
    border-left-color: #20cdc7;
}
.stat-inner {
    width: 152px;
    border: 3px solid #fff;
    border-radius: 50%;
    height: 152px;
    border-right-color: #20cdc7;
    line-height: 50px;
    text-align: center;
}
.stat-inner .glyphicon{
	font-size: 30px;
	margin-top:15px; 
}
.stat-inner span{
	display: block;
}
.stat-inner .stat-count{
	font-size: 30px;
}
.stat-name-h1,
.stat-name-h3{
    position: relative;
    border-radius: 50%;
    -webkit-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-127deg);
    top: 12px;
    left: -24px;
}
.stat-name-h2,
.stat-name-h4 {
    position: relative;
    border-radius: 50%;
    -webkit-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(50deg);
    top: 138px;
    left: 29px;
}
.stat-name span {
    height: 100px;
    position: absolute;
    width: 5px;
    left: 5px;
    top: -116px;
    transform-origin: bottom center;
}
.st-f .char1{
	-webkit-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	transform: rotate(6deg);
}
.st-f .char2{
	-webkit-transform: rotate(12deg);
	-ms-transform: rotate(12deg);
	-o-transform: rotate(12deg);
	transform: rotate(12deg);
}
.st-f .char3{
	-webkit-transform: rotate(18deg);
	-ms-transform: rotate(18deg);
	-o-transform: rotate(18deg);
	transform: rotate(18deg);
}
.st-f .char4{
	-webkit-transform: rotate(24deg);
	-ms-transform: rotate(24deg);
	-o-transform: rotate(24deg);
	transform: rotate(24deg);
}
.st-f .char5{
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}
.st-f .char6{
	-webkit-transform: rotate(36deg);
	-ms-transform: rotate(36deg);
	-o-transform: rotate(36deg);
	transform: rotate(36deg);
}
.st-f .char7{
	-webkit-transform: rotate(42deg);
	-ms-transform: rotate(42deg);
	-o-transform: rotate(42deg);
	transform: rotate(42deg);
}
.st-f .char8{
	-webkit-transform: rotate(48deg);
	-ms-transform: rotate(48deg);
	-o-transform: rotate(48deg);
	transform: rotate(48deg);
}
.st-f .char9{
	-webkit-transform: rotate(54deg);
	-ms-transform: rotate(54deg);
	-o-transform: rotate(54deg);
	transform: rotate(54deg);
}
.st-f .char10{
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}
.st-f .char11{
	-webkit-transform: rotate(66deg);
	-ms-transform: rotate(66deg);
	-o-transform: rotate(66deg);
	transform: rotate(66deg);
}
.st-f .char12{
	-webkit-transform: rotate(72deg);
	-ms-transform: rotate(72deg);
	-o-transform: rotate(72deg);
	transform: rotate(72deg);
}
.st-f .char13{
	-webkit-transform: rotate(78deg);
	-ms-transform: rotate(78deg);
	-o-transform: rotate(78deg);
	transform: rotate(78deg);
}
.st-f .char14{
	-webkit-transform: rotate(84deg);
	-ms-transform: rotate(84deg);
	-o-transform: rotate(84deg);
	transform: rotate(84deg);
}
.feat-tab li {
    margin: 0px 10px;
}
.feat-tab li a {
    text-transform: uppercase;
    color: #333;
    padding: 10px;
    display: inline-block;
}
ul.list-inline.feat-tab {
    margin-bottom: 0px;
    padding: 10px 0px;
    margin-top: 5px;
}
.about-slider .owl-controls {
    position: absolute;
    top: -90px;
    right: 0px;
}
.about-slider .owl-controls .owl-prev,
.about-slider .owl-controls .owl-next{
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 10px;
	display: inline-block;
	margin-left: 4px;
}
.ab-h h1 {
    margin: 0px;
    padding-left: 10px;
}
.ab-slog,
.ab-h{
	padding: 45px 0px;
}
.ab-slog{
	margin-right: 100px;
}
.testis{
	margin-top: 10px;
}
.oprice-slog,
.our-team-slog,
.posts-slog {
    padding: 20px 0px;
}
.ab-slog p,
.oprice-slog p,
.our-team-slog p,
.posts-slog p {
    font-size: 17px;
}
.our-team {
	margin-top: 10px;
}
.ab-con h1{
	font-size: 40px;
	text-transform: uppercase;
}
.ab-con .ab-sb-h {
    font-size: 22px;
	text-transform: uppercase;
    padding-bottom: 4px;
    margin-bottom: 4px;
    display: inline-block;
}
.feat-name {
    height: 130px;
    line-height: 130px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
}
.feat-veiw {
    text-align: center;
    font-size: 17px;
    color: #fff;
}
.feat-veiw span {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.car-con p{
	color: #6d7a8b;
	line-height: 1.8;
}
.car-con a {
    padding: 10px;
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
}
.feat-item{
	width: 20%;
	float: left;
	position: relative;
	overflow: hidden;
	/*cursor: pointer;*/
}
.feat-hcard {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 270px;
    -webkit-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.hcardopen{
	top: 0px;
}
.opr-head {
    height: 110px;
    padding:10px;
}
.opr-head .op-head-text{
	text-transform: uppercase;
	font-weight: 600;
}
.opr-head span {
    font-size: 24px;
    margin: 20px 10px;
}
.opactive .opr-head .op-head-text{
	font-size: 24px;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}
.opr-body .opr-price {
    font-size: 30px;
    font-weight: 600;
    padding: 25px 15px;
}
.opr-body ul {
    padding-left: 10px;
    margin-bottom: 25px;
}
.opr-body ul li {
    list-style: none;
    line-height: 1.8;
}
a.ser-buy-btn {
    display: block;
    padding: 8px 10px;
    border: 1px solid #333;
    width: 35%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}
.team-member {
    width: 20%;
    float: left;
    position: relative;
    overflow:hidden;
}
.team-member img{
	width: 100%;
}
.team-info{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(48,55,65,0.5);
	bottom: 0px;
	top:375px;
	cursor: pointer;
	-webkit-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.tcardopen{
	top: 0px;
}
.cl-btn {
    padding: 5px 15px;
    border: 1px solid #333;
    color: #333;
    display: inline-block;
}
.view-mem{
	padding: 40px 10px;
}
.post-img img{
	width: 100%;
}
.cli-img {
    width: 20%;
    float: left;
    text-align: center;
}
.testi-slider {
    color: #fff;
    width: 70%;
    margin: 0 auto;
    margin-top: 75px;
}

.testis .phone-img {
    position: absolute;
    left: 36.9%;
    display: inline-block;
    height: 100%;
    top: -30px;
}
.testis .owl-item.active.center{
	/*top:-30px;*/
}
.testi-slider .owl-controls .owl-prev,
.testi-slider .owl-controls .owl-next {
    position: absolute;
    top: 50%;
    font-size: 20px;
}

.testi-slider .owl-controls .owl-prev{
	left: -20px;
}
.testi-slider .owl-controls .owl-next {
	right: -20px;
}
.testis .owl-item.active.center span.desig{
	color: #fff;
}
.test-con p{
	line-height: 2;
}
/*.testis .owl-item.active > div:after {
  content: 'active';
}
.testis .owl-item.center > div:after {
  content: 'center';
}*/
.row{
	position: relative;
}
.testis .phone-img img{
	width: 100%;
}
.test-dp {
    position: relative;
    width: 30%;
    border-radius: 50%;
    margin: 0px auto;
    border: 2px solid #fff;
    padding: 5px;
}
.test-dp img{
	border-radius: 50%;
}
.test-dp-q {
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    z-index: 1;
    border-radius: 50%;
    font-size: 11px;
}
h2.testi-name {
    text-align: center;
}
span.desig {
    display: block;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.cli-logos {
    padding: 50px 0px;
}
footer{
	background-image: url(../images/footer.png);
	background-repeat: no-repeat;
	background-size: cover;

}
span.s-text.cl-btn {
    display: block;
    border-color: #fff;
    color: #fff;
    text-transform: uppercase;
}
span.s-icon {
    display: block;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    color: #fff;
}
a.back-top {
    padding: 20px 15px;
    display: inline-block;
    color: #fff;
}
a.back-top span {
    display: block;
    text-align: center;

}
a.back-top span i{
	font-size: 18px;
    margin: 10px;
}
.col-md-4.contact-info {
    margin-top: 68px;
    font-size: 18px;
}
.col-md-4.contact-info .con-icn{
	margin-right: 10px;
}
.phone-number {
    margin-bottom: 25px;
}
.street-addr {
    margin: 25px 0px;
}
.footer-rows{

}
@media all and (min-width: 320px) and (max-width: 580px){
	.mob-none{
		display: none;
	}
	.mob-block{
		display: block;
	}
	.nav{
		display: none;
	}
	.header-text h1 {
	    font-size: 30px;
	}
	.slogan{
		font-size: 12px;
	}
	.whowe{
		padding: 10px 0px;
	}
	.h-title{
		font-size: 25px;
	}
	.ab-slog, .ab-h {
	    padding: 10px 0px;
	}
	.ab-con h1{
		font-size: 20px;
	}
	.testis .phone-img{
		top: 0px;
		left: 2%;
	}
	.cli-img,
	.team-member{
		width: 100%;
		margin-bottom: 5px;
		padding: 10px;
	}
	.cli-stats{
		background: #313842;
	}
	.stat-main{
		margin: 0 auto;
		margin-top: 5px;
	}
	.oprice{
		margin-top: 5px;
	}
	footer{
		background: #313842;
	}
}