body{
	/*color: #fff;*/
}
.header,
.banner,
.about-us{
	background-color: #313842;
}
.header-text h1,
.slogan,
.about-us{
	color: #fff;
}
.whowe .h-title,
.feat-des .h-title,
.our-price .h-title,
.our-team .h-title,
.posts .h-title,
.contact-form .h-title{
	color: #333;
}
.slogan .high-text{
	color: #07c1b3;
}
.nav.pull-right {
	 border-bottom: 1px solid #d4d4d4;
}
.nav-actice {
	 border: 2px solid #07c1b3;
}
.nav ul li a:hover{
	color: #07c1b3;
}
.head-bod{
	background-color: #07c1b3;
}
.whowe {
    color: #333;
    padding: 50px 0px;
}
.h-title{
    border-left: 3px solid #07c1b3;
    color: #fff;
}
.ab-h h1 {
	border-left: 5px solid #07c1b3;
}
.ab-con .ab-sb-h {
	border-bottom: 3px solid #07c1b3;
}
.feat-des{
	color: #333;
}
.feat-item img{
	width: 100%;
}
.feat-hcard{
	background-color: rgba(14, 172, 235, 0.89);
}
.opr-head{
	background-color: #374455;
	color: #fff;
}
.opactive .opr-head{
	background-color: #07c1b3;
}
.opactive .opr-price{
	color: #07c1b3;
}
.opactive .ser-buy-btn{
	background-color: #07c1b3;
	color: #fff;
	border-color:#07c1b3;
}
.our-team{
	background-color: #f7f7f7
}
.testis,
.about-us{
	background: linear-gradient(rgba(56, 67, 85, 0.83), rgba(56, 67, 85, 0.85)), rgba(56, 67, 85,0.85) url(../images/cleints.jpg) no-repeat;
	background-size: cover;
}
.cli-stats{
	color: #fff;
}
.test-dp-q {
	background-color: #02ccb2;
}
.testis .owl-item.active.center > div {
 	background-color: #02ccb2;
 	padding: 15px 25px;
}
.contact-form {
    margin-top: 100px;
}
span.desig {
	color: #02ccb2;
}
.so-links li a:hover span.s-text{
	background-color: #02ccb2;
}
.feat-tab li{
	background-color: #f9f9f9;
}
.feat-tab li.active{
	background-color: #02ccb2;
}
.feat-tab li.active a,
.feat-tab li:hover a{
	color: #fff;
}
.feat-tab li:hover{
	background-color: #02ccb2;
}
.sub-btn{
	background-color: #07c1b3;
	color: #fff;
}
.sub-btn:hover{
	color: #fff;
}
.col-md-4.contact-info .con-icn{
	color: #07c1b3;
}
p.copy-slogan {
    color: #6d7a8b;
}